@use "./font.scss";

:root {
  --color-primary: 81, 73, 66;
  --wrap-spacer: 8rem;
  --header-height: 80px;
  --footer-height: 500px;
  --main-height: calc(100vh - 100px - 500px);
  --min-nav-width: 200px;
  --border-radius-md: 20px;
  --gray: #f4f4f4;

  @media (max-width: 1600px) {
    --wrap-spacer: 6rem;
  }

  @media (max-width: 1400px) {
    --wrap-spacer: 5rem;
  }

  @media (max-width: 1250px) {
    --wrap-spacer: 3rem;
  }

  @media (max-width: 1000px) {
    --wrap-spacer: 20px;
  }

  // md
  @media (max-width: 960px) {
    --wrap-spacer: 10px;
  }

  @media (max-width: 600px) {
  }

  @media (max-width: 550px) {
  }

  @media (max-width: 440px) {
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "Philosopher", sans-serif !important;
}

// 👉 General
a {
  color: var(--color-primary);
  text-decoration: none;
}

.shadow {
  box-shadow: 0 2px 1px -1px var(--v-shadow-key-umbra-opacity, rgba(0, 0, 0, 0.2)), 0px 1px 1px 0px var(--v-shadow-key-penumbra-opacity, rgba(0, 0, 0, 0.14)), 0px 1px 3px 0px var(--v-shadow-key-ambient-opacity, rgba(0, 0, 0, 0.12));
}

.divider,
.divider-primary {
  width: 100%;
  height: 1px;
  background-color: black;
}

.divider-primary {
  background-color: rgb(var(--color-primary));
}

.list-none {
  list-style-type: none;
}

.card {
  border-radius: var(--border-radius-md);
  overflow: hidden;
}

// 👉 Size
.padding-section {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: 450px) {
    padding: 0;
  }
}

// 👉 Dimension
.layout-wrapper,
.layout-header-navbar {
  padding-left: var(--wrap-spacer);
  padding-right: var(--wrap-spacer);
}

.layout-header-navbar {
  height: var(--header-height);
}

.layout-page-content {
  margin-top: var(--header-height);
}

// 👉 Font
.font-normal {
  font-family: "Philosopher", sans-serif !important;
}

.font-heading {
  font-family: "Alumni Sans", sans-serif !important;
}

.font-section-title,
.font-title{
  font-family: "Alumni Sans", sans-serif !important;
}

.font-section-title {
  font-size: 400%;
  font-weight: 100;
  line-height: 50px;
}

.font-title {
  font-size: 180%;
  font-weight: 100;
  letter-spacing: 2px;
}

.font-subtitle {
  font-size: 110%;
}

.two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  height: calc(1.5em * 2);
}

.text-sub {
  color: #7c7c7c;
}

p {
  line-height: 2em;
  margin-bottom: 1rem;
}

// 👉 Background Color
.bg-gray {
  background-color: var(--gray) !important;
}

// 👉 animations
.zoom-in {
  overflow: hidden;

  img {
    transition: all 0.25s ease-in-out;
  }

  &:hover {
    img {
      transform: scale(1.2);
      }
    }
}

// 👉 Color
.border-white {
  border-color: #fff !important;
}

.page {
  h1 {
    font-size: 250%;
  }

  h2 {
    font-size: 150%;
  }
}